number_of_zones="$NUMBER_OF_AVAILABILITY_ZONES"
cidr_block_for_kubernetes_clusters="$KUBERNETES_CLUSTER_CIDR_BLOCKS"
domain_name="$DOMAIN_NAME"
environment_name="$ENVIRONMENT_NAME"
kubernetes_node_ami="$KUBERNETES_NODE_AMI"
