{
  "CN": "{{ kubernetes_ca_common_name }}",
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "{{ kubernetes_ca_country_code }}",
      "L": "{{ kubernetes_ca_location_code }}",
      "O": "{{ kubernetes_ca_common_name }}",
      "OU": "{{ kubernetes_ca_ou_code }}",
      "ST": "{{ kubernetes_ca_state_code }}"
    }
  ]
}
