# Terraform ignores.
*.terraform
*.tfstate
*.tfplan
*.tfstate.lock
terraform.tfvars
!terraform.tfvars.template
provider.tf
backend.tf

# Environment variable ignores
.env.*
env.*
!.env.example

# Ansible ignores
*.retry
