AWS_REGION="change me"
DOCKER_HUB_USERNAME="change me"
DOCKER_HUB_PASSOWRD="change me"
AWS_ACCESS_KEY_ID="change me"
AWS_SECRET_ACCESS_KEY="change me"
ENVIRONMENT_NAME="change me"
NUMBER_OF_AVAILABILITY_ZONES="change me"
NUMBER_OF_WORKERS_PER_CLUSTER="change me"
SSH_KEY_S3_BUCKET_NAME="change me"
SSH_KEY_S3_KEY_PATH="change me"
CA_KEY_S3_BUCKET_NAME="change me"
CA_KEY_S3_KEY_PATH="change me"
CA_CSR_CITY="change me"
CA_CSR_STATE="change me"
CA_CSR_COUNTRY_INITIALS="change me"
CA_CSR_ORGANIZATION="change me"
CA_CSR_COMMON_NAME="change me"
